<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
        package="com.wangguan.transitions">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/BaseTheme">
        <activity android:name=".material.container.ImageDetailActivity" />
        <activity
                android:name=".material.container.FabActivity"
                android:label="@string/title_activity_fab"
                android:theme="@style/BaseTheme.NoActionBar" />
        <activity android:name=".material.fade.FadeActivity" />
        <activity android:name=".material.fadeThrough.FadeThroughActivity" />
        <activity android:name=".material.axis.AxisDetailActivity" />
        <activity android:name=".material.axis.AxisActivity" />
        <activity android:name=".material.container.ContainerActivity" />
        <activity android:name=".material.container.DetailActivity" />
        <activity android:name=".material.MaterialActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SpringActivity" />
        <activity android:name=".LayoutWithoutSActivity" />
        <activity android:name=".LayoutWithSActivity" />
        <activity android:name=".TransitionActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".DrawableActivity" />
        <activity android:name=".VisibilityActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>